.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  background: #f7f9fc;
}

.hero-container {
  max-width: 1100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

/* CONTENT */
.hero-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #222;
}

.highlight {
  color: #4f46e5;
}

.hero-subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1.2rem;
  min-height: 45px;
}

.hero-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.8rem;
  line-height: 1.6;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.8rem;
}

.btn {
  padding: 0.7rem 1.6rem;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
}

.btn-primary {
  background: #4f46e5;
  color: white;
}

.btn-primary:hover {
  background: #4338ca;
}

.btn-secondary {
  background: white;
  color: #4f46e5;
  border: 1px solid #4f46e5;
}

.btn-secondary:hover {
  background: #f0f0ff;
}

/* SOCIALS */
.hero-socials {
  display: flex;
  gap: 0.8rem;
}

.hero-socials a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f46e5;
  font-size: 1.1rem;
  border: 1px solid #e5e7eb;
}

.hero-socials a:hover {
  background: #4f46e5;
  color: white;
}

/* IMAGE */
.hero-image {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  width: 100%;
  max-width: 360px;
}

.image-wrapper img {
  height:500px;
  width: 100%;
  border-radius: 10%;
  border: 3px solid #e5e7eb;
  box-shadow: 0 5px 10px rgb(184, 125, 125);
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-title {
    font-size: 2.2rem;
  }

  .hero-subtitle {
    font-size: 1.3rem;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .hero-socials {
    justify-content: center;
  }

  .image-wrapper {
    max-width: 300px;
  }
}




.hero-title {
  font-size: 3rem;
}

.hero-subtitle {
  font-size: 1.7rem;
}

.hero-description {
  font-size: 1.05rem;
}
