.about-section {
  padding: 3rem 1rem;
  background-color: #f4f4f4;
  text-align: center;
}

.about-section h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.about-section strong {
  color: #00c9a7;
}

.resume-btn {
  display: inline-block;
  color: rgb(3, 145, 145);
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid rgb(3, 140, 113);
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.resume-btn:hover {
  background-color: rgb(3, 145, 145);
  color: #fff;
}

@media (min-width: 768px) {
  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section p {
    font-size: 1.2rem;
  }
}
