/* GLOBAL FONT FIX */
body {
  font-size: 16px;
  line-height: 1.7;
}


/* RESET DEFAULT SPACING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FIX SECTION GAPS */
section {
  padding: 4rem 2rem;   /* uniform spacing */
  margin: 0;
}

/* REMOVE EXTRA TOP SPACE BETWEEN SECTIONS */
section + section {
  padding-top: 3rem;
}
